NODE_ENV=development
PORT=3000
API_PREFIX=api/v1

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=solicitudes_db
POSTGRES_USER=solicitudes_user
POSTGRES_PASSWORD=solicitudes_password

MONGODB_URI=mongodb://solicitudes_user:solicitudes_password@localhost:27017/solicitudes_academic?authSource=admin
JWT_SECRET=anadir_secret
JWT_EXPIRES_IN=8h
