NODE_ENV=development
PORT=3000
API_PREFIX=api/v1

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=solicitudes_db
POSTGRES_USER=solicitudes_user
POSTGRES_PASSWORD=solicitudes_password

MONGODB_URI=mongodb://solicitudes_user:solicitudes_password@localhost:27017/solicitudes_academic?authSource=admin

# JWT - Access Token
JWT_SECRET=anadir_secret_super_seguro_aqui
JWT_EXPIRES_IN=8h

# JWT - Refresh Token
JWT_REFRESH_SECRET=anadir_refresh_secret_super_seguro_aqui
JWT_REFRESH_EXPIRES_IN=7d